body {
  background-color: #fff;
}

h1 {

  color: #1D2F28;
}

h3 {
  color: #1D2F28;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
